.cd-c-GameStart {
  &-box {
    padding: 40px;
    max-width: 600px;
    box-sizing: border-box;
    border: 1px solid $color_green;

    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-text {
    margin-bottom: 40px;
    text-align: center;
  }
}