.cd-c-Game {
  &-title {
    text-align: center;
    padding: 25px 0;
  }

  &-tries {
    padding-bottom: 15px;
    font-size: 18px;

    span {
      color: $color_green;
      font-size: 25px;
    }
  }

  &-hiddenWord {
    letter-spacing: 1em;
    text-align: center;
    padding: 50px 0 ;
    font-size: 18px;
    text-transform: uppercase;
  }
  
  &-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    & [cd-leave] {
      border: 1px solid $color_red;
      background: $color_red;

      &:hover {
        background: none;
      }
    }
  }

  &-score {
    display: block;
    background: $color_green;
    padding: 10px 20px;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  &-letters {
    padding: 40px;
    margin: 25px auto;
    border: 1px solid $color_green;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }

  &-letter {
    font-family: sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    width: 50px;
    height: 50px;

    color: $color_lightgreen;
    background: none;
    border: none;
    border-radius: 5px;

    cursor: pointer;
    outline: inherit;

    transition: 200ms ease-in-out;

    &:hover {
      color: $color_green;
      transition: 200ms ease-in-out;
    }

    &:disabled {
      color: $color_grey;
    }

    &:last-child {
      margin-right: auto;
    }

  }
}