$color_green: #38dc8a;
$color_lightgreen: #d3f8e0;
$color_grey: #7e7e7e;
$color_red: #ce2929;
$color_dark : #020910;
$color_black : #000000;
$color_white : #ffffff;

$color_main : $color_green;
$color_secondary :$color_lightgreen;
$color_background : $color_dark;