<!doctype html>
<html lang="en">
<%- include('./_partials/head') %>
<body class="cd-u-hspace">
    <%- include('./_partials/header') %>

    <section class="cd-c-Content">
        <%- include('./_partials/game') %>
    </section>

    <%- include('_partials/footer') %>
</body>
</html>