<div class="cd-c-GameStart cd-u-hspace">
    <div class="cd-u-wrapper">
        <div class="cd-c-GameStart-box">
            <p class="cd-c-GameStart-text">Appuyer sur le bouton pour commencer une partie</p>
            <form action="/" method="post">
                <button class="cd-c-Btn" type="submit" name="start" value="true">
                    Start
                </button>
            </form>
        </div>
    </div>
</div>