<div class="cd-c-GameResult cd-u-hspace">
    <div class="cd-u-wrapper">
        <div class="cd-c-GameResult-box">
            <p class="cd-c-GameResult-text">Votre score est <span><%= result %></span></p>
            <form action="/" method="post">
                <div class="cd-c-GameResult-buttons">
                    <button class="cd-c-Btn" type="submit" name="start" value="true">Retry</button>
                    <button class="cd-c-Btn" type="submit" name="leave" value="true" cd-leave>Leave</button>
                </div>
            </form>
        </div>
    </div>
</div>