/* ABSTRACT */
/* BASICS */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: sans-serif;
  background-color: #020910;
  color: #ffffff; }

/* COMPONENTS */
.cd-c-Btn {
  font-family: sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 30px;
  min-height: 50px;
  color: #ffffff;
  background: #38dc8a;
  border: 1px solid #38dc8a;
  cursor: pointer;
  outline: inherit;
  transition: 200ms cubic-bezier(0.59, 0.44, 0.52, 0.95); }
  .cd-c-Btn:hover {
    background: none;
    border: 1px solid #38dc8a;
    box-sizing: border-box;
    transition: 200ms cubic-bezier(0.59, 0.44, 0.52, 0.95); }

.cd-c-Game-title {
  text-align: center;
  padding: 25px 0; }

.cd-c-Game-tries {
  padding-bottom: 15px;
  font-size: 18px; }
  .cd-c-Game-tries span {
    color: #38dc8a;
    font-size: 25px; }

.cd-c-Game-hiddenWord {
  letter-spacing: 1em;
  text-align: center;
  padding: 50px 0;
  font-size: 18px;
  text-transform: uppercase; }

.cd-c-Game-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; }
  .cd-c-Game-buttons [cd-leave] {
    border: 1px solid #ce2929;
    background: #ce2929; }
    .cd-c-Game-buttons [cd-leave]:hover {
      background: none; }

.cd-c-Game-score {
  display: block;
  background: #38dc8a;
  padding: 10px 20px;
  position: absolute;
  top: 20px;
  right: 20px; }

.cd-c-Game-letters {
  padding: 40px;
  margin: 25px auto;
  border: 1px solid #38dc8a;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.cd-c-Game-letter {
  font-family: sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  width: 50px;
  height: 50px;
  color: #d3f8e0;
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: inherit;
  transition: 200ms ease-in-out; }
  .cd-c-Game-letter:hover {
    color: #38dc8a;
    transition: 200ms ease-in-out; }
  .cd-c-Game-letter:disabled {
    color: #7e7e7e; }
  .cd-c-Game-letter:last-child {
    margin-right: auto; }

/* COMPONENTS */
.cd-u-hspace {
  padding: 0 25px; }

.cd-u-wrapper {
  max-width: 800px;
  margin: auto; }

.cd-u-h1, h1 {
  font-size: 50px;
  line-height: 55px;
  color: #38dc8a;
  text-transform: uppercase; }

.cd-u-h2, h2 {
  font-size: 25px;
  line-height: 30px;
  color: #d3f8e0;
  text-transform: uppercase; }

.cd-u-h3, h3 {
  font-size: 18px; }

.cd-u-h4, h4 {
  font-size: 14px; }

/* LAYOUTS */
.cd-c-Header {
  padding-top: 60px;
  padding-bottom: 25px; }
  .cd-c-Header-title {
    text-align: center; }
  .cd-c-Header-subtitle {
    text-align: center; }

.cd-c-Content {
  padding-top: 50px;
  padding-bottom: 50px; }
