/* ABSTRACT */
/* BASICS */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: sans-serif;
  background-color: #020910;
  color: #ffffff; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

select::-ms-expand {
  display: none; }

/* COMPONENTS */
.cd-c-Btn {
  font-family: sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 30px;
  min-height: 50px;
  color: #ffffff;
  background: #38dc8a;
  border: 1px solid #38dc8a;
  cursor: pointer;
  outline: inherit;
  transition: 200ms cubic-bezier(0.59, 0.44, 0.52, 0.95); }
  .cd-c-Btn:hover {
    background: none;
    border: 1px solid #38dc8a;
    box-sizing: border-box;
    transition: 200ms cubic-bezier(0.59, 0.44, 0.52, 0.95); }
  .cd-c-Btn[cd-leave] {
    border: 1px solid #ce2929;
    background: #ce2929; }
    .cd-c-Btn[cd-leave]:hover {
      background: none; }

.cd-c-Game-title {
  text-align: center;
  padding: 25px 0; }

.cd-c-Game-tries {
  margin-bottom: 15px;
  font-size: 18px; }
  .cd-c-Game-tries span {
    color: #38dc8a;
    font-size: 25px; }

.cd-c-Game-hiddenWord {
  letter-spacing: 1em;
  text-align: center;
  padding: 50px 0;
  font-size: 18px;
  text-transform: uppercase; }

.cd-c-Game-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; }

.cd-c-Game-score {
  display: block;
  background: #38dc8a;
  padding: 10px 30px;
  box-sizing: border-box;
  line-height: 30px;
  font-size: 20px;
  text-transform: uppercase;
  position: absolute;
  top: 20px;
  right: 20px; }

.cd-c-Game-letters {
  padding: 40px;
  margin: 25px auto;
  border: 1px solid #38dc8a;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.cd-c-Game-letter {
  font-family: sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  width: 50px;
  height: 50px;
  color: #d3f8e0;
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: inherit;
  transition: 100ms ease-in-out; }
  .cd-c-Game-letter:hover {
    color: #38dc8a;
    transition: 100ms ease-in-out; }
  .cd-c-Game-letter:disabled {
    color: #7e7e7e; }
  .cd-c-Game-letter:last-child {
    margin-right: auto; }

@media screen and (max-width: 999px) {
  .cd-c-Game-score {
    position: relative;
    top: 0;
    right: 0; } }

.cd-c-GameStart-box {
  padding: 40px;
  max-width: 600px;
  box-sizing: border-box;
  border: 1px solid #38dc8a;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.cd-c-GameStart form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.cd-c-GameStart-text {
  margin-bottom: 40px;
  text-align: center; }

.cd-c-GameStart select {
  width: 100%;
  max-width: 400px;
  margin-bottom: 40px;
  display: block;
  border-radius: 0 !important;
  outline: none;
  min-height: 50px;
  padding: 10px 20px;
  font-size: 15px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #7e7e7e; }
  .cd-c-GameStart select:focus {
    border: 1px solid #ffffff; }
  .cd-c-GameStart select option {
    display: block;
    min-height: 50px;
    padding: 10px 20px;
    border-radius: 0;
    background-color: #020910; }
    .cd-c-GameStart select option[cd-level="easy"] {
      color: #38dc8a; }
    .cd-c-GameStart select option[cd-level="normal"] {
      color: #d96822; }
    .cd-c-GameStart select option[cd-level="hard"] {
      color: #ce2929; }

.cd-c-GameResult-box {
  max-width: 600px;
  padding: 40px;
  box-sizing: border-box;
  border: 1px solid #38dc8a;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center; }

.cd-c-GameResult-text {
  margin-bottom: 40px;
  text-align: center;
  font-size: 18px; }
  .cd-c-GameResult-text span {
    color: #38dc8a;
    font-size: 25px; }

.cd-c-GameResult-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; }

/* COMPONENTS */
.cd-u-hspace {
  padding: 0 25px; }

.cd-u-wrapper {
  max-width: 800px;
  width: 100%;
  margin: auto; }

.cd-u-h1, h1 {
  font-size: 50px;
  line-height: 55px;
  color: #38dc8a;
  text-transform: uppercase; }

.cd-u-h2, h2 {
  font-size: 25px;
  line-height: 30px;
  color: #d3f8e0;
  text-transform: uppercase; }

.cd-u-h3, h3 {
  font-size: 18px; }

.cd-u-h4, h4 {
  font-size: 14px; }

@media screen and (max-width: 999px) {
  .cd-u-h1, h1 {
    font-size: 25px;
    line-height: 30px; }
  .cd-u-h2, h2 {
    font-size: 14px;
    line-height: 18px; } }

/* LAYOUTS */
.cd-c-Header {
  padding-top: 60px;
  padding-bottom: 25px; }
  .cd-c-Header-title {
    text-align: center; }
  .cd-c-Header-subtitle {
    text-align: center; }

.cd-c-Content {
  padding-top: 50px; }
