<div class="cd-c-GameStart cd-u-hspace">
    <div class="cd-u-wrapper">
        <p>Appuyer sur le bouton pour commencer une partie</p>
        <form action="/" method="post">
            <button class="cd-c-Btn" type="submit" name="start" value="true">
                Start the Game
            </button>
        </form>
    </div>
</div>